root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
charset = utf-8

[{Makefile, *.sh}]
indent_size = 8
indent_style = tab

[*.{yml,yaml}]
indent_size = 2
